@use "/src/styles/layout.scss" as *;

$area-vertical-padding: calc($app-header-height + $large);

.workArea {
  padding: $area-vertical-padding $normal;
  background-color: rgb(243, 243, 243);
  min-height: calc(100vh - $area-vertical-padding * 2);
}
