@use "/src/styles/layout.scss" as *;

.workArea {
  margin-top: $app-header-height;
  padding: $normal;
  background-color: rgb(243, 243, 243);
  // height: calc(100vh - #{$app-header-height} - #{$normal * 2});
  // overflow: auto;
}