@use "/src/styles/layout.scss" as *;

$boardSize: 490px;

.container {
  margin-inline: auto;
  width: min($large * 50, 90vw);
  min-height: 70vh;
  padding: $large;
  min-width: 1000px;
}

.boardArea {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: $boardSize auto;
  gap: $large;
}

.board {
  width: $boardSize;
  height: $boardSize;
}

.cell {
  width: 7px;
  height: 7px;
  fill: white;
  stroke-width: 0.1;
  stroke: black;
}

.alive {
  fill: gray;
}
